.account {
	flex: 1;

	display: flex;
	justify-content: center;
	align-items: center;
}

.account-loaded {
	padding: 2rem;

	display: flex;
	flex-direction: column;
	gap: 2rem;
}

.report-table {
	padding-bottom: 0.5rem;

	background: white;
	border-radius: 1rem;
	box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 1px 3px 1px rgb(60 64 67 / 15%);
}

.table-header {
	padding: 1rem 1rem 0.5rem;

	display: flex;
	justify-content: space-between;

	background-color: var(--bg-light);
	border-bottom: 1px solid var(--clr-grey2);
	border-top-left-radius: 1rem;
	border-top-right-radius: 1rem;
}

.table-header .col {
	flex-basis: 100%;

	text-align: right;
}

.table-header .col:first-child {
	text-align: left;
}

.table-tabs {
	display: flex;
	gap: 2rem;

	border-bottom: 1px solid var(--clr-grey2);
	cursor: pointer;
}

.table-tabs div {
	transition: all 0.4s ease;
	border-bottom: 1px solid transparent;
}

.table-tabs div:hover {
	color: var(--clr-lyell);
	border-bottom: 1px solid var(--clr-lyell);
}

.table-tabs > .active {
	color: var(--clr-lyell);
	border-bottom: 1px solid var(--clr-lyell);
}

.table-row {
	padding: 0.5rem 1rem;

	display: flex;
	justify-content: space-between;

	border-bottom: 1px solid var(--clr-grey2);
}

.table-rows .table-row:last-child {
	border-bottom: none;
}

.table-row > .col {
	flex-basis: 100%;

	display: flex;
	justify-content: flex-end;
	align-items: center;

	text-align: right;
}

.table-row > .col:first-child {
	text-align: left;

	justify-content: flex-start;
}

.table-row .button {
	width: fit-content;
}

.table-row .check-button {
	padding-left: 1rem;

	position: relative;
}

.check-button:hover .check-button-tooltip {
	visibility: visible;
}

.check-button-tooltip {
	padding: 0rem 0.5rem;
	position: absolute;
	right: 0;
	top: -2rem;
	transform: translateX(50%);
	z-index: 100;

	border-radius: 0.25rem;
	background: var(--clr-lyell);
	color: white;
	visibility: hidden;
}

.check-button-tooltip::after {
	content: '';
	position: absolute;
	top: 100%;
	left: 50%;
	margin-left: -5px;
	border-width: 5px;
	border-style: solid;
	border-color: var(--clr-lyell) transparent transparent transparent;
}
